# Entorno virtual
.venv/
venv/

# Cachés y compilados de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos temporales y logs
*.log
*.tmp
*.temp

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Variables de entorno (si las usas)
.env
